<!DOCTYPE html>
<html>
<head>
<title>IDS Dashboard</title>

<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<h1>🔐 Intrusion Detection Dashboard</h1>

<div class="cards">
  <div class="card">🚨 Attacks: <span id="attack">0</span></div>
  <div class="card">✅ Normal: <span id="normal">0</span></div>
</div>

<div id="liveData">Waiting for data...</div>
<div id="status">Initializing...</div>

<canvas id="chart"></canvas>

<script>
const ctx = document.getElementById('chart').getContext('2d');

let chart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Attack', 'Normal'],
        datasets: [{
            data: [0, 0],
            backgroundColor: ['red', 'green']
        }]
    }
});

setInterval(() => {
    fetch("/live")
    .then(res => res.json())
    .then(data => {

        document.getElementById("liveData").innerText =
            `Duration: ${data.duration} | Src: ${data.src} | Dst: ${data.dst}`;

        document.getElementById("status").innerText =
            data.result === "Intrusion"
            ? "🚨 Intrusion Detected"
            : "✅ Normal Traffic";

        document.getElementById("attack").innerText = data.attack;
        document.getElementById("normal").innerText = data.normal;

        chart.data.datasets[0].data = [data.attack, data.normal];
        chart.update();
    });
}, 2000);
</script>

</body>
</html>
