<!DOCTYPE html>
<html>
<head>
<title>IDS Dashboard</title>

<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<h1>🔐 Intrusion Detection Dashboard</h1>

<div class="dashboard">

    <div class="graph-box">
        <canvas id="chart"></canvas>
    </div>

    <div class="stats-box">
        <div class="stat-card">🚨 Attacks <h3 id="attack">0</h3></div>
        <div class="stat-card">✅ Normal <h3 id="normal">0</h3></div>
        <div class="stat-card">📡 Status <h3 id="status">Loading...</h3></div>
        <div class="stat-card">📊 Data <p id="liveData">Waiting...</p></div>
    </div>

</div>

<script>
window.onload = function () {

    const ctx = document.getElementById('chart').getContext('2d');

    let chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Attack', 'Normal'],
            datasets: [{
                data: [0, 0],
                backgroundColor: ['red', 'green']
            }]
        }
    });

    setInterval(() => {
        fetch("/live")
        .then(res => res.json())
        .then(data => {

            document.getElementById("attack").innerText = data.attack;
            document.getElementById("normal").innerText = data.normal;

            document.getElementById("liveData").innerText =
                `Duration: ${data.duration} | Src: ${data.src} | Dst: ${data.dst}`;

            document.getElementById("status").innerText =
                data.result === "Intrusion"
                ? "🚨 Intrusion Detected"
                : "✅ Normal Traffic";

            chart.data.datasets[0].data = [data.attack, data.normal];
            chart.update();
        });
    }, 2000);
};
</script>

</body>
</html>
