<!DOCTYPE html>
<html>
<head>
<title>Monitor</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
<a href="/monitor">Live Monitor</a>
<a href="/about">About</a>
</nav>

<div class="container">

<div class="card" style="text-align:center">

<h1>📡 Live Monitoring</h1>

<form method="POST">
<button type="submit">Scan Network</button>
</form>

{% if result %}
<div class="alert {% if 'Attack' in result %}attack{% else %}normal{% endif %}">
⚡ {{ result }}
</div>
{% endif %}

</div>

</div>

</body>
</html>
