<!DOCTYPE html>
<html>
<head>
<title>Detect Intrusion</title>

<style>
body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}
nav{
background:#020617;
padding:15px;
}
nav a{
color:#22c55e;
margin:15px;
text-decoration:none;
}
input{
margin:5px;
padding:10px;
width:120px;
}
button{
padding:10px 20px;
background:#22c55e;
border:none;
color:white;
}
</style>

</head>

<body>

<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
<a href="/upload">Detect Attack</a>
<a href="/about">About</a>
</nav>

<h1>🔍 Detect Network Intrusion</h1>

<form method="POST">

<!-- 10 inputs -->
<input type="text" name="f0" placeholder="Feature 1">
<input type="text" name="f1" placeholder="Feature 2">
<input type="text" name="f2" placeholder="Feature 3">
<input type="text" name="f3" placeholder="Feature 4">
<input type="text" name="f4" placeholder="Feature 5"><br>

<input type="text" name="f5" placeholder="Feature 6">
<input type="text" name="f6" placeholder="Feature 7">
<input type="text" name="f7" placeholder="Feature 8">
<input type="text" name="f8" placeholder="Feature 9">
<input type="text" name="f9" placeholder="Feature 10"><br><br>

<button type="submit">Predict</button>

</form>

{% if result %}
<h2>{{ result }}</h2>
{% endif %}

</body>
</html>
